<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Site Main"},"className":"is-style-default","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|16","bottom":"var:preset|spacing|16"}}}} -->
<main class="wp-block-group is-style-default" style="margin-top:0;padding-top:var(--wp--preset--spacing--16);padding-bottom:var(--wp--preset--spacing--16)">

	<!-- wp:post-featured-image {"aspectRatio":"2:3","metadata":{"name":"Blurry Person Poster Backdrop"},"className":"is-style-single-movie-backdrop"} /-->

	<!-- wp:group {"tagName":"article","metadata":{"name":"Person Header"},"layout":{"type":"constrained"}} -->
	<article class="wp-block-group">

		<!-- wp:buttons {"align":"wide"} -->
		<div class="wp-block-buttons alignwide">
			<!-- wp:button {
				"className": "is-style-secondary",
				"metadata": {
					"bindings": {
						"url": {
							"source": "tenup/archive-link",
							"args": {
								"key": "url"
							}
						},
						"text": {
							"source": "tenup/archive-link",
							"args": {
								"key": "text"
							}
						}
					}
				}
			} -->
			<div class="wp-block-button is-style-secondary">
				<a class="wp-block-button__link wp-element-button" href="/people/">
					← Back
				</a>
			</div>
			<!-- /wp:button -->

		</div>
		<!-- /wp:buttons -->

		<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"bottom","justifyContent":"space-between"}} -->
		<div class="wp-block-group alignwide">

			<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|8"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
			<div class="wp-block-group alignwide">

				<!-- wp:post-title {"level":1} /-->

			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:group -->

		<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch","justifyContent":"space-between"}} -->
		<div class="wp-block-group alignwide">

			<!-- wp:post-featured-image {"aspectRatio":"2:3","style":{"layout":{"selfStretch":"fixed","flexSize":"336px"},"border":{"radius":"3px"}}} /-->

		</div>
		<!-- /wp:group -->

		<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|24"}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top","justifyContent":"space-between"}} -->
		<div class="wp-block-group alignwide">

			<!-- wp:tenup/metadata -->
				<!-- wp:tenup/person-metadata-biography /-->
				<!-- wp:tenup/person-metadata-born /-->
				<!-- wp:tenup/person-metadata-birthplace /-->
				<!-- wp:tenup/person-metadata-died /-->
				<!-- wp:tenup/person-metadata-deathplace /-->
				<!-- wp:tenup/person-metadata-movies /-->
			<!-- /wp:tenup/metadata -->

			<!-- wp:buttons -->
			<div class="wp-block-buttons">
				<!-- wp:button -->
				<div class="wp-block-button">
					<a class="wp-block-button__link wp-element-button">Add to list</a>
				</div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->

		</div>
		<!-- /wp:group -->

		<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|32-48","bottom":"var:preset|spacing|32-48"}}}} -->
		<hr class="wp-block-separator alignwide has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--32-48);margin-bottom:var(--wp--preset--spacing--32-48)"/>
		<!-- /wp:separator -->

	</article>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
