<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Site Main"},"className":"is-style-default","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|16","bottom":"var:preset|spacing|16"}}}} -->
<main class="wp-block-group is-style-default" style="margin-top:0;padding-top:var(--wp--preset--spacing--16);padding-bottom:var(--wp--preset--spacing--16)"><!-- wp:post-featured-image {"aspectRatio":"2:3","metadata":{"name":"Blurry Movie Poster Backdrop"},"className":"is-style-single-movie-backdrop"} /-->

<!-- wp:group {"tagName":"article","metadata":{"name":"Movie Header"},"layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:buttons {"align":"wide"} -->
<div class="wp-block-buttons alignwide"><!-- wp:button {"className":"is-style-secondary"} -->
<div class="wp-block-button is-style-secondary"><a class="wp-block-button__link wp-element-button" href="/movies">← Back</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|8"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1} /-->

<!-- wp:group {"className":"has-separator","style":{"elements":{"link":{"color":{"text":"var:preset|color|text-secondary"}}}},"textColor":"text-secondary","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-separator has-text-secondary-color has-text-color has-link-color"><!-- wp:paragraph -->
<p>2024</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>PG-13</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>2h 46m</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-secondary"} -->
<div class="wp-block-button is-style-secondary"><a class="wp-block-button__link wp-element-button">Rate</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-secondary"} -->
<div class="wp-block-button is-style-secondary"><a class="wp-block-button__link wp-element-button"><mark style="background-color:rgba(0, 0, 0, 0);color:#f5c518" class="has-inline-color">★</mark> 8.9/10 (200K)</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-featured-image {"aspectRatio":"2:3","style":{"layout":{"selfStretch":"fixed","flexSize":"336px"},"border":{"radius":"3px"}}} /-->

<!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://block-based-theme-training.test/wp-content/uploads/2025/01/e6308eeb0458fdff145211051474a4c3.png" alt=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|8"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"metadata":{"name":"Movie Metadata"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|16"},"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"metadata":{"name":"Genre"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fixed","flexSize":"100px"},"elements":{"link":{"color":{"text":"var:preset|color|text-secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"text-secondary"} -->
<p class="has-text-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:600">Genre</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"tenup-genre"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Plot"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fixed","flexSize":"100px"},"elements":{"link":{"color":{"text":"var:preset|color|text-secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"text-secondary"} -->
<p class="has-text-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:600">Plot</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null}}} -->
<p>Paul Atreides unites with Chani and the Fremen while seeking revenge against the conspirators who destroyed his family.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Director"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fixed","flexSize":"100px"},"elements":{"link":{"color":{"text":"var:preset|color|text-secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"text-secondary"} -->
<p class="has-text-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:600">Director</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Denis Villeneuve</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Writers"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fixed","flexSize":"100px"},"elements":{"link":{"color":{"text":"var:preset|color|text-secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"text-secondary"} -->
<p class="has-text-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:600">Writers</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Denis Villeneuve, Jon Spaihts, Frank Herbert</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Stars"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fixed","flexSize":"100px"},"elements":{"link":{"color":{"text":"var:preset|color|text-secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"text-secondary"} -->
<p class="has-text-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:600">Stars</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Timothée Chalamet, Zendaya, Rebecca Ferguson</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Add to Watchlist</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|32-48","bottom":"var:preset|spacing|32-48"}}}} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--32-48);margin-bottom:var(--wp--preset--spacing--32-48)"/>
<!-- /wp:separator --></article>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->