.wp-block-group {

	&.has-separator {
		gap: 0;

		& > * {
			align-items: center;
			display: flex;
		}

		& > *:not(:last-child) {

			&::after {
				align-items: center;
				background-color: currentcolor;
				border-radius: 999px;
				content: "";
				display: inline-flex;
				height: 4px;
				justify-content: center;
				justify-self: center;
				line-height: 1;
				margin-inline: var(--wp--custom--spacing--8);
				width: 4px;
			}
		}
	}

	&.is-style-metadata-row {

		& > :first-child {
			flex-shrink: 0;
		}
	}
}
