html {
	scroll-behavior: smooth;

	@view-transition { /* stylelint-disable-line at-rule-no-unknown */
		navigation: auto; /* stylelint-disable-line property-no-unknown */
	}
}

.has-global-padding :where(.has-global-padding.is-layout-constrained) {
	padding-inline-end: var(--wp--style--root--padding-right);
	padding-inline-start: var(--wp--style--root--padding-left);
}

.is-layout-constrained .wp-block-image.alignwide {
	max-inline-size: min(100%, var(--wp--style--global--wide-size)) !important;
}

.wp-block-post-template.is-layout-flex {
	align-items: stretch;
}
