.wp-block-post {
	position: relative;

	& > .wp-block-group {
		height: 100%;
	}

	& .wp-block-post-title a {

		&::after {
			bottom: 0;
			content: "";
			display: flex;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
	}
}
